body {
 background-image: url("pinkskyfull.jpg") !important;
 background-size: cover;
 background-position: center;
 padding-bottom: 15px;
}


@font-face{
	font-family: "Airstream";
	src: url("fonts/Airstream.woff") format('woff');
}

@font-face{
  font-family: "Akashi";
  src: url("fonts/Akashi.ttf") format('TrueType');
}

@font-face{
  font-family: "Intruder";
  src: url("fonts/Intruder.ttf") format('TrueType');
}

@font-face{
  font-family: "Jura";
  src: url("fonts/Jura.otf") format('OpenType');
}

@font-face{
  font-family: "Bigfish";
  src: url("fonts/Bigfish.ttf") format('TrueType');
}

@font-face{
  font-family: "Vanilla";
  src: url("fonts/Vanilla.ttf") format('TrueType');
}

@font-face{
  font-family: "data";
  src: url("fonts/data.ttf") format('TrueType');
}



#page1 {
  height: 1000px;
  padding-top: 0;
  margin-top: 0;
}

#page2 {
  height: 1000px;
}

#page3 {
  height: 1000px;
}

#page4 {
  height: 1000px;
}

.smooth {
  size: fixed;
  /*margin-top: 200px;*/
}

#home {
  height: 1000px;
}

#about {
  height: 1000px;
  padding-top: 100px;
  font-family: "Jura";
  font-size: 30px;
}

#portfolio {
  height: 1000px;
  padding-top: 100px;
}

#contact {
  height: 1000px;
  padding-top: 100px;
}

.sectionright {
  /*background-color: rgba(0, 0, 0, 1);*/
  padding-right: 100px;
  padding-left: 100px;
  border-right-color: #fffc59 !important;
  border-right-width: 12px;
  border-right-style: solid;
  border-radius: 25px;
  height: 500px;
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

.sectionleft {
  /*background-color: rgba(0, 0, 0, 1);*/
  padding-right: 100px;
  padding-left: 100px;
  border-left-style: solid;
  border-radius: 25px;
  border-left-color: #fffc59 !important;
  border-left-width: 12px;
  height: 500px;
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

.mynav {
  border-bottom-color: white !important;
  border-bottom-width: 4px !important;
  border-bottom-style: solid; 
  border-bottom-left-radius: .5;
  border-bottom-right-radius: 1;
  box-shadow: 0 4px 8px 0 rgba(191, 191, 191, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  background-color: white !important;
  position: fixed;
  z-index: 5000;
  width: 100%;
  text-align: center;
  vertical-align: central;
  float: left;
  line-height: 55px;

}

.navstyle {
  color: #ff0cf2 !important;
  vertical-align: central;
}

.navright {
  float: right !important;
  font-size:25px !important;
  vertical-align: central;
}

.navleft {
  float: left !important;
  font-size: 25px;
}

.navcenter {
  font-size: 35px;
  /* float: none !important;*/
  /*display: inline-block !important;*/
  /*text-align: center !important;*/

}

.brandlogo {
  content: url("gun2.png");
  height: 75px;
  width: 100px;
}

.navbtn {
  color: black;
  background-color:black;
}

.coolcolor {
	color: #ff0cf2 !important;
	font-family: "Akashi";
}

.black {
	background-color: black;
	height: 850px;
}

.pink {
	background-color: black;
	background-image: url(/client/img/neongrid.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 850px;
}

.navbar-default {
  background-color: #000000;
  border-color: #7204ff;
}
.navbar-default .navbar-brand {
  color: #d111ec;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #7a7a7b;
}
.navbar-default .navbar-text {
  color: #d111ec;
}
.navbar-default .navbar-nav > li > a {
  color: #d111ec;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #7a7a7b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #7a7a7b;
  background-color: #7204ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #7a7a7b;
  background-color: #7204ff;
}
.navbar-default .navbar-toggle {
  border-color: #7204ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #7204ff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d111ec;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d111ec;
}
.navbar-default .navbar-link {
  color: #d111ec;
}
.navbar-default .navbar-link:hover {
  color: #7a7a7b;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d111ec;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #7a7a7b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #7a7a7b;
    background-color: #7204ff;
  }
}

#navbar-background {
	background-color: black;
	color: black;
}



/*.homepage-hero-module {*/
/*    border-right: none;*/
/*    border-left: none;*/
/*    position: relative;*/
/*}*/
/*.no-video .video-container video,*/
/*.touch .video-container video {*/
/*    display: none;*/
/*}*/
/*.no-video .video-container .poster,*/
/*.touch .video-container .poster {*/
/*    display: block !important;*/
/*}*/
/*.video-container {*/
/*    position: relative;*/
/*    bottom: 0%;*/
/*    left: 0%;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*    background: #000;*/
/*}*/
/*.video-container .poster img {*/
/*    width: 100%;*/
/*    bottom: 0;*/
/*    position: absolute;*/
/*}*/
/*.video-container .filter {*/
/*    z-index: -200;*/
/*    position: absolute;*/
/*    background: rgba(0, 0, 0, 0.4);*/
/*    width: 100%;*/
/*}*/
/*.video-container video {*/
/*    position: absolute;*/
/*    z-index: 0;*/
/*    bottom: 0;*/
/*}*/
/*.video-container video.fillWidth {*/
/*    width: 100%;*/
/*}*/


.videoPanel {
  width: 100%;
  height: 750px;
  font-size: 0;
  margin: 0;
  padding: 0;
  float: left;
}

#videoOverlay {
  color: white;
  float: left;
  z-index: 4000;
  position: absolute;
  background-color: rgba(114, 47, 182, 0.63);
  height: 650px;
  width: 100%;
  margin-top: 80px;
  padding-top: 50px;
  font-family: "Jura";
  text-align: center;
  font-size: 80px;
  
}

#newHeightsText {
  font-family: "Airstream";
  white-space: pre-line;
  font-size: 130px;
}

#robust {
  font-family: "data";
  font-size: 45px;
}

#powerful {
  font-family: "Bigfish";
    font-size: 30px;
}

#creative {
  font-family: "Vanilla";
    font-size: 30px;
}

.hamburger {
  color: black;
  size: 100px;
  height: 40px;
  width: 40px;
  content: url("hamburger.png");
  vertical-align: center;
}

